<%= content_tag :div, class: 'media', id: "comment-#{comment.id}" do %>
<!-- We use content_tag to generate HTML as it is easier to read to than interpolating
a comment's ID inside an HTML tag. -->
  <div class="media">
    <div class="media-body">
      <small>
        <%= comment.user.name %> commented <%= time_ago_in_words(comment.created_at) %> ago
        <% if user_is_authorized_for_comment?(comment) %>
        <!-- remote: :true adds a jQuery listener which enables the form to be
        submitted without the page refreshing -->
          <%= link_to "Delete", [comment.post, comment], method: :delete, remote: true %>
        <% end %>
      </small>
      <p><%= comment.body %></p>
    </div>
  </div>
<% end %>
