<div class="row">
   <div class="col-md-8">
     <div class="media">
       <br />
       <% avatar_url = @user.avatar_url(128) %>
       <% if avatar_url %>
         <div class="media-left">
           <!-- User Rails helper image_tag to create an <img> -->
           <%= image_tag avatar_url, class: 'media-object' %>
         </div>
       <% end %>
       <div class="media-body">
         <h2 class="media-heading"><%= posts_or_comments(@user) %></h2>
         <small>
           <%= pluralize(@user.posts_count, 'post') %>,
           <%= pluralize(@user.comments_count, 'comment') %>
         </small>
       </div>
     </div>
   </div>
 </div>

<!-- Display the user's posts and comments using partials -->
 <h2>Posts</h2>
 <%= render @posts %>

 <h2>Comments</h2>
 <%= render @comments %>

 <h2>Favorite Posts</h2>
 <%= render @favorite_posts %>
