<% @user.favorites.each do |fav| %>
  <div class="media">
    <% avatar_url = fav.post.user.avatar_url(30) %>
    <% if avatar_url %>
        <!-- User Rails helper image_tag to create an <img> -->
        <%= image_tag avatar_url, class: 'media-object pull-left' %>
    <% end %>
     <%= render partial: 'votes/voter', locals: { post: fav.post } %>
     <div class="media-body">
       <h4 class="media-heading">
         <%= link_to fav.post.title, topic_post_path(fav.post.topic, fav.post) %>
         <%= render partial: "labels/list", locals: { labels: fav.post.labels } %>
       </h4>
       <small>
         submitted <%= time_ago_in_words(fav.post.created_at) %> ago by <%= fav.post.user.name %> <br>
         <%= fav.post.comments.count %> Comments
       </small>
     </div>
   </div>
 <% end %>
